.main {
  display: flex;
  padding: 20px 20px 0 20px;
  justify-content: space-evenly;
  width: 100%;
}
.table {
  display: flex;
  max-width: 300px;
  width: 100%;
  background-color: white;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width: 100%;
  }

  &__title {
    font-family: cursive;
    font-size: 17px;
    color: #172b4d;
  }

  &__text {
    font-family: cursive;
    font-size: 15px;
    color: #29487c;
    width: 230px;
    padding-left: 5px;
    display: flex;
    align-items: center;
  }

  .add-card {
    cursor: pointer;
    border-radius: 5px;
  }

  .add-card:hover {
    background-color: #d5cfcf;
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .edit-logo {
    width: 25px;
    height: 25px;
    background-image: url("../assets/png/edit-icon.png");
    background-size: contain;
    cursor: pointer;
  }
  .edit-logo:hover {
    background-color: #f0f1f5;
    border-radius: 5px;
  }
}
.card-wrapper {
  display: flex;
  background-color: #70a1f5;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  align-items: center;
  box-shadow: 1px 1px 1px black;
}

.black {
  color: #000000;
}

.add-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.add-input {
  height: 60px;
  resize: none;
  font-size: 15px;
  font-family: cursive;
}

.add-button {
  font-size: 15px;
  font-family: cursive;
  width: 100px;
  background-color: #70a1f5;
  border-radius: 10px;
  border: 2px solid #1163ef;
  height: 30px;
  cursor: pointer;
}

.close-button {
  padding-left: 10px;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
  background: none;
  border: none;
}
.close-button:hover {
  color: #1163ef;
}
